body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
    color: #333;
    font-size: 28px;
}

.btnShow {
    display: block;
    margin: 0 auto 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnHide {
    display: block;
    margin: 0 auto 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #969495;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.camper {

    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 500px;
    text-align: left;
    font-family: 'Arial', sans-serif;

}

.camper h3 {
    color: #333;
    font-size: 1.5em;
    margin: 0 0 10px;
}

.camper p {
    color: #555;
    margin: 5px 0;
}

.camper h4 {
    color: #007BFF;
    margin-top: 15px;
    font-size: 1.2em;
}

.camp {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}


h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #007BFF;
}

p {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
}

ul {
    padding-left: 20px;
    margin-top: 10px;
}

.camp {
    list-style-type: disc;
    color: #333;
    font-size: 15px;
}

@media (max-width: 600px) {
    .camper {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    p,
    .camp {
        font-size: 14px;
    }
}